body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  color: #293236;
}
.wrapper {
  max-width: 1000px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  background: rgba(222, 229, 240, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
form {
  margin: auto;
  background: inherit;
  border-radius: 15px;
}

#search-input {
  text-align: left;
  width: 50%;
  margin: auto;
  background: inherit;
  border-radius: 15px;
  display: flex;
}

.currentPron {
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;
}
.currentPron:first-letter {
  text-transform: capitalize;
}

.currentCity {
  font-size: 30px;
}
.pin {
  font-size: 20px;
  margin: 20px;
}
.currentInfo {
  padding: 30px;
}
.currentTemp {
  text-align: right;
  font-size: 65px;
  font-weight: lighter;
}
#celsius-link,
#fahrenheit-link,
.units {
  text-decoration: none;
  color: #293236;
  font-size: 20px;
  padding: 0px;
  position: relative;
  top: 30;
}

#celsius-link:hover,
#fahrenheit-link:hover {
  font-weight: bold;
}

ul {
  padding: 30px;
}
li {
  font-size: 15px;
  text-align: left;
  list-style: none;
}

.weather-forecast-temperatures,
.weather-forecast-date {
  font-size: 20px;
  padding: 10px;
}

.changeButtons {
  font-size: 30px;
  text-align: left;
  margin: 10px;

  padding: 10px;
}

.weekbutton:hover,
.todaybutton:hover {
  font-weight: bold;
}
.today {
  text-align: center;
  font-size: 30px;
}
.opensource {
  text-align: center;
  font-size: 20px;
  margin: 0px;
  color: rgba(222, 229, 240, 0.7);
}
#open-source-link {
  color: white;
}
#open-source-link:hover {
  font-weight: bold;
}
